body {
    background-color: #E5E5E5;
}
section {
background: white ;
width: 40%;
margin: 10% auto;
}
div {
    display: flex;
    background-color: #F3EFEE;
    margin: 15px;
    padding: 10px;
    
}